/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
    height: 100vh;
    transition: 1000ms ease-in-out;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #fbfafb;
    background-repeat: no-repeat;
    position: relative;
}

.tech-tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    rotate: 45deg;
    background: #fdfdfd;
    box-shadow: 3px 3px 5px #0003;
    width: 15px;
    height: 15px;
}



/* HEADER */

header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
}

.logo {
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    background-clip: text;
    -webkit-background-clip: text;
    /* Para navegadores Webkit (Chrome, Safari) */
    color: transparent;
    /* Tornar o texto transparente */
    font-weight: 600;
    font-size: 23px;
}

.menu {
    display: flex;
    gap: 50px;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: #999;
    font-weight: 500;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.menu a:hover {
    transition: 250ms;
    letter-spacing: 1px;
    opacity: 0.5;
}




/* HOME */

.home {
    width: 100%;
    max-height: 100vh;
    padding: 90px 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10;
    background: #fdfdfd;
}

.home-apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.apresentation-content {
    width: 70%;
    animation: show 1s both ease-in-out;
}

@keyframes show {
    0% {
        transform: translatey(100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}




.apresentation-content h2 {
    font-weight: normal;
    font-size: 38px;
    color: #333;

}

.apresentation-content h1 {
    font-size: 60px;
    color: #222;
}

.apresentation-content h3 {
    font-size: 28px;
    font-weight: normal;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 30px;
    position: relative;
}

.apresentation-content p {
    color: #333;
    margin-bottom: 20px;
    font-size: 18px;
}

.apresentation-content button {
    min-width: 181px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background: #333;
    font-size: 20px;
    color: #fdfdfd;
    margin: 50px 0px 100px;
    box-shadow: 3px 3px 5px #00000038;
    cursor: pointer;
}

.apresentation-content button:hover {
    transition: 300ms;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 3px 3px 5px #00000038;
}

.apresentation-content button:hover i {
    color: #eeeeee4d;
    transition: 300ms;
}

.apresentation-content button i {
    margin-left: 10px;
    color: #eee;
}






/* HOME IMAGE */

.home-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    z-index: 1;
    animation: show 1s both ease-in-out;
}

.my-image {
    width: 370px;
    height: 320px;
    border-radius: 60px 20px 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px #00000031;
}

.image {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 300px;
    border-radius: 60px 20px 60px 40px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.home-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #0000002d;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-social a:hover {
    transition: 250ms;
    box-shadow: none;
    border: 1px solid #ddd;
}



/* HOME TECH */

.home-tech {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 1s both ease-in-out;
}

.tech-title {
    color: #777;
    width: 150px;
    height: 50px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    border-right: 1px solid #ccc;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.tech-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #555;
    z-index: 2;
}


.tech-card i {
    font-size: 25px;
    background: linear-gradient(to right, #ff3300c6, #e40d2db5, #f30438ba);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.scroll {
    grid-column: span 2;
    font-weight: 500;
    font-size: 17px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 1s both ease-in-out;
}

.scroll i {
    margin-left: 10px;
    position: relative;
    animation: scroll 1500ms infinite;
    color: #555;
}

@keyframes scroll {
    0% {
        top: -5px;
    }

    50% {
        top: 0;
    }

    100% {
        top: -5px;
    }
}



/* ABOUT */

.about {
    width: 100%;
    height: 100vh;
    padding: 120px 10%;
    opacity: 1;
    position: absolute;
    top: 50%;
    background: #eee;
    z-index: 9;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1439px) {
    .about {
        padding: 80px 10%;
    }
}

.about-text {
    color: #333;
    text-align: justify;
    font-size: 18px;
}




/* PROJECTS */

.projects {
    width: 100%;
    height: 100vh;
    padding: 110px 0 180px;
    position: absolute;
    top: 50%;
    background: #222;
    overflow: hidden;
    z-index: 8;
}

.projects-title,
.about-title {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    margin-bottom: 60px;
}

.contact-title h1,
.projects-title h1,
.about-title h1 {
    font-weight: 500;
    font-size: 38px;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.contact-title p,
.projects-title p,
.about-title p {
    color: #666;
    font-size: 16px;
    /* text-align: justify; */
}

.projects-filter {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

.projects-filter button {
    width: 140px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 18px;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0002;
    cursor: pointer;
}

.projects-filter button:hover {
    box-shadow: none;
    border: 1px solid #444;
    transition: 300ms;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: red;
}

.projects-list {

    margin: 0 auto;
    display: flex;
    width: fit-content;
    max-width: 90%;
    padding: 0 0 20px;
    left: 0;
    gap: 30px;
    cursor: grab;
    overflow: hidden;
}

.projects-list:active {
    cursor: grabbing;
}

.projects-list::-webkit-scrollbar {
    height: 5px;
}

.projects-list::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.projects-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to right, #ff3300, #e40d2d);
}

.projects-card {
    width: 300px;
    min-width: 300px;
    height: 370px;
    border: 2px solid transparent;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    background: transparent;
    z-index: 1;
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.projects-card:hover {
    transition: 500ms;
    border-color: #e40d2d;
}

.projects-card:hover img {
    transform: scale(0.96);
    filter: brightness(0.7);
}

.projects-card:hover::after {
    opacity: 1;
}

.card-data {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    background: linear-gradient(to top, #222, transparent);
}

.card-data a {
    width: 105px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    background: #fdfdfd;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.card-data a:hover {
    color: #fdfdfd;
    transition: 300ms;
    background: #222;
}

.projects-card h3 {
    margin: 0 0 25px;
    color: #fdfdfd;
    font-size: 22px;
    font-weight: 500;
    /* width: 60%; */
}

.card-data label {
    color: #ddd;
    font-size: 13px;
}

.card-links {
    display: flex;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    /* border: 1px solid blue; */

    z-index: -1;
}

.card-image img {
    width: 105%;
    height: 105%;
    position: absolute;
    top: -8px;
    left: -7px;
    object-fit: cover;
    transition: 500ms ease-out;
}



.cardBtnDatails {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: -60px;
    background: #fff;
    border-radius: 50%;
    transition: 400ms;
    box-shadow: 3px 3px 5px #0003;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    /* border: 1px solid #e40d2d; */
}

.cardBtnDatails:hover {
    background: #222;
    color: #fdfdfd;

}

.projects-card:hover .cardBtnDatails {
    right: 20px;
}

.cardDatails {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background: #222222bb;
    transition: 400ms;
    padding: 20px;
    color: #ddd;
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-st; */
    flex-direction: column;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.cardDatails p {
    margin: 20px 0 0 0;
    max-height: 210px;
    overflow: hidden;
}

.cardBtnDatails:hover .cardDatails {
    top: 0px;
}



.contact-title {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contact-title h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.contact-title p {
    font-size: 48px;
    font-weight: bolder;
    color: #333;
}

.contact-content span {
    font-size: 18px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 7px;
}

.contact-content span a {
    text-decoration: none;
    color: #999;
}

.contact-content span a:hover {
    text-decoration: underline;
}





#contact {
    background: #fdfdfd;
    padding: 100px 0 0;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 7;

}

.contact-content {
    /* border: 1px solid red; */
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.map {
    width: 100%;
    box-shadow: 5px 5px 10px #0003;
    background: #fff;
    height: 470px;
    margin: 40px auto 0;
    /* filter: grayscale(100%); */
}

#form-contact {
    position: absolute;
    top: 0;
    right: 40px;
    width: 510px;
    height: 610px;
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 60px;

}

#form-contact label {
    color: #999;
    font-size: 14px;
}

#form-contact input {
    outline: none;
    height: 60px;
    padding: 3px 0;
    border: none;
    border-bottom: 1px solid #555;
    background: transparent;
    font-size: 17px;
    margin: 0 0 30px;
    color: #eee;

}

#form-contact #name {
    text-transform: capitalize;
}

#form-contact input:focus {
    border-bottom: 1px solid #f3043873;
    transition: 300ms;
}

#form-contact textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 3px 5px;
    outline: none;
    border: 1px solid #555;
    margin-bottom: 20px;
    /* border-radius: 10px; */
    font-size: 17px;
    color: #eee;
    background: transparent;
}

#form-contact textarea:focus {
    border-color: #f3043873;
    background: #f5f5f5;
    transition: 300ms;
    color: #333;
}

#form-contact button {
    font-size: 18px;
    align-self: center;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.133) 3px 3px 5px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    cursor: pointer;
    background: #fdfdfd;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    transition: 300ms;
}

#form-contact button:hover {
    background: #333;
    color: #fdfdfd;
}

#form-contact button::selection {
    background: red;
}

#form-contact #mini-footer {
    text-align: center;
    margin: auto 0 0;
    color: #666;
    font-size: 13px;
}




/* FOOTER */

footer {
    background: #151515;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10% 0;
    color: #ddd;
    gap: 40px;
    row-gap: 15px;
    justify-content: space-around;
}

footer div h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

footer div p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #999;
}

footer div p b {
    color: #ddd;
}

.footer-portfolio {
    width: 400px;
}

.footer-portfolio h2 {
    margin-bottom: 10px;
}

.footer-portfolio p {
    margin-bottom: 15px;
    font-size: 13px;
}

.footer-social {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;

}

.footer-social a {
    text-decoration: none;
    color: #ddd;
    font-size: 25px;
}

.footer-contactme {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-contactme input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    padding: 0 5px 5px;
    outline: none;
    color: #ddd;
    width: 100%;

}

.footer-contactme button {
    width: 70px;
    height: 30px;
    background: transparent;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
    color: #ddd;
    cursor: pointer;
    font-weight: bold;
}

.footer-contactme button:hover {

    transition: 350ms;
    background: #ddd;
    color: #333;
    letter-spacing: 1px;
}

.footer-me {
    border-top: 1px solid #333;
    min-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.footer-links a {
    display: block;
    margin: 0 0 10px;
    text-decoration: none;
    color: #999;
}



.count {

    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 99;
}

.count span {
    width: 10px;
    height: 10px;
    background: #555;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}

#spanActive {
    background: linear-gradient(to bottom right, #ff3300, #f30438, #e40d2d);
    opacity: 0.7;

}

header button {
    display: none;
}

/* RESPONSIVIDADE */


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-height: 900px) {


    #btn-contact {
        margin: 0 0 20px;
    }
}

@media screen and (max-height: 800px) {
    #projects {
        padding: 75px 0 105px;
    }

    #about {
        /* padding: 75px 8% 0; */
    }
}



/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1550px) {
    .map {
        display: none;
    }

    #form-contact {
        width: 100%;
        height: 340px;
        position: relative;
        padding: 30px;
        right: 0;
        margin: 10px 0;
    }

    #form-contact input {
        margin: 0 0 7px;
    }

    .contact-title {
        width: 70%;
        margin: 0 0 20px;
    }
}



/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1360px) {
    .home {
        padding: 80px 5%;

    }


    .scroll {
        margin: auto 0 0;
    }


}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1279px) {
    body {
        overflow: auto;
    }

    header {
        background: #fdfdfd;
        box-shadow: 0px 2px 5px #0003;
    }

    #home {
        position: static;
        height: auto;
        max-height: max-content;
    }

    #projects {
        position: static;
        height: auto;
        width: 100%;
    }

    #about {
        position: static;
        height: auto;
    }

    #contact {
        position: static;
        height: auto;
    }

    .contact-title {
        width: 100%;

    }

    .count {
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .home {
        padding: 70px 1%;
    }

    .about {
        padding: 70px 5%;
        grid-template-columns: 1fr;
    }

    .my-image {
        width: 340px;
        height: 290px;
    }

    .image {
        width: 320px;
        height: 270px;
    }

    .home-tech {
        margin: 0 auto;
        width: 90%;
    }

    .projects {
        width: 95%;
    }

    .projects-list {
        overflow-x: auto;
        gap: 30px;
        justify-content: flex-start;
        padding: 10px;
        flex-wrap: nowrap;
    }


}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 791px) {
    .footer-portfolio {
        text-align: center;
    }

    .footer-social {
        margin: 0 auto;
        width: fit-content;
    }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    header {
        width: 100%;
    }

    .menu {
        gap: 0;
    }

    .logo {
        font-size: 20px;
    }

    .home {
        display: flex;
        flex-direction: column;
    }

    .home-image {
        padding: 0 0 50px;
    }

    .apresentation-content {
        width: 90%;
    }

    .apresentation-content button {
        margin-bottom: 60px;
    }

    .my-image {
        width: 340px;
        height: 290px;
    }

    .image {
        width: 320px;
        height: 270px;
    }

    .tech-list {
        gap: 10px;
    }

    .projects-list {
        overflow-x: auto;
        gap: 30px;
        justify-content: flex-start;
        padding: 10px;
        flex-wrap: nowrap;
    }

    .projects-filter {
        flex-wrap: wrap;
        row-gap: 20px;
    }


}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-height: 660px) {
    .home-apresentation {
        padding: 0;
    }

    .home-tech {
        font-size: 14px;
    }


    .apresentation-content {
        width: 85%;
    }

    .apresentation-content p {
        font-size: 16px;
    }

    .scroll {
        display: none;
    }


}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 500px) {
    .contact-content {
        width: 90%;
    }

    .menu {
        gap: 7px;
    }

    .menu a {
        width: fit-content;
        font-size: 15px;
    }

    .tech-title {
        display: none;
    }

    .tech-list {
        justify-content: space-evenly;
        gap: 20px;
    }

    .scroll {
        display: none;
    }

    .apresentation-content button {
        margin: 0 0 20px;
    }

    .projects-title,
    .about-title {
        width: 90%;
    }

    .projects-card {
        min-width: 270px;
        height: 350px;
    }

    .card-data {
        padding: 20px;
    }

    .projects-list {
        min-width: 95%;
    }

    .cardBtnDatails {
        background: #222;
        color: #fdfdfd;
    }

    .cardDatails p {
        margin: 10px 0 0;
        max-height: 220px;
    }

    .cardDatails h3 {
        margin: 0 0 5px;
    }

    .cardDatails label {
        color: #aaa;
    }

    .cardBtnDatails {
        right: 20px;
    }
}
