@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}





body {
    background: #fbfafb;
    background-repeat: no-repeat;

}

.tech-tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    rotate: 45deg;
    background: #fdfdfd;
    box-shadow: 3px 3px 5px #0003;
    width: 15px;
    height: 15px;
}


/* HEADER */

header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fbfafb;
    box-shadow: 0px 3px 5px #0000000d;
    z-index: 20;
}

.logo {
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    background-clip: text;
    -webkit-background-clip: text;
    /* Para navegadores Webkit (Chrome, Safari) */
    color: transparent;
    /* Tornar o texto transparente */
    font-weight: 600;
    font-size: 23px;
}

.menu {
    display: flex;
    gap: 50px;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: #303030;
    font-weight: 500;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.menu a:hover {
    transition: 250ms;
    letter-spacing: 1px;
    opacity: 0.5;
}




/* HOME */

.home {
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid #aaa; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 90px 0 80px;
    row-gap: 0px;
}

.home-apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ccc; */
    padding: 20px 0;

}

.apresentation-content {
    width: 70%;

}

.apresentation-content h2 {
    font-weight: normal;
    font-size: 38px;
    color: #333;

}

.apresentation-content h1 {
    font-size: 60px;
    color: #222;
}

.apresentation-content h3 {
    font-size: 28px;
    font-weight: normal;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 30px;
    position: relative;
}

.apresentation-content p {
    color: #333;
    margin-bottom: 20px;
    font-size: 18px;
}

.apresentation-content button {
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background: #333;
    font-size: 20px;
    color: #fdfdfd;
    margin: 50px 0px 100px;
    box-shadow: 3px 3px 5px #00000038;
    cursor: pointer;
}

.apresentation-content button:hover {
    transition: 300ms;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 3px 3px 5px #00000038;
}

.apresentation-content button:hover i {
    color: #eeeeee4d;
    transition: 300ms;
}

.apresentation-content button i {
    margin-left: 10px;
    color: #eee;
}






/* HOME IMAGE */

.home-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    z-index: 1;
}

.my-image {
    width: 370px;
    height: 320px;
    border-radius: 60px 20px 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px #00000031;
}

.image {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 300px;
    border-radius: 60px 20px 60px 40px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.home-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #0000002d;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: show 1000ms 2s both;
}

.home-social a:hover {
    transition: 250ms;
    box-shadow: none;
    border: 1px solid #ddd;
}



/* HOME TECH */

.home-tech {
    grid-column: span 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin-bottom: 70px;

}

.tech-title {
    color: #222;
    font-weight: 500;
    font-size: 20px;
    /* letter-spacing: 1px; */
}

.tech-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;

}

.tech-card {
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid #ff00003a; */
    /* border-radius: 10px; */
    padding: 10px;
    color: #222;
    position: relative;
    z-index: 2;
}

.tech-card:hover {
    color: #666;
}

.tech-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-top: 1px solid #ff00003a;
    transition: 350ms;
}

.tech-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 1px solid #ff00003a;
    transition: 350ms;
}

.tech-card:hover::after,
.tech-card:hover::before {
    width: 100%;

}

.tech-card i {
    font-size: 25px;
    background: linear-gradient(to right, #ff3300c6, #e40d2db5, #f30438ba);
    background-clip: text;
    -webkit-background-clip: text;
    /* Para navegadores Webkit (Chrome, Safari) */
    color: transparent;
}

.scroll {
    grid-column: span 2;
    font-weight: 500;
    font-size: 17px;
    color: #555;
    text-align: center;
}

.scroll i {
    margin-left: 10px;
    position: relative;
    animation: scroll 1500ms infinite;
    color: #555;
}

@keyframes scroll {
    0% {
        top: -5px;
    }

    50% {
        top: 0;
    }

    100% {
        top: -5px;
    }
}



/* ABOUT */

.about {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    padding: 70px 10% 130px;
    opacity: 1;
}


.about-text {
    color: #333;
}




/* PROJECTS */

.projects {
    margin: 0 auto;
    padding: 70px 0 160px;
    /* border-bottom: 1px solid #bbb; */
    width: 80%;
}

.projects-title,
.about-title {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    margin-bottom: 60px;

}

.projects-title h1,
.about-title h1 {
    font-weight: 500;
    font-size: 38px;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.projects-title p,
.about-title p {
    color: #666;
    font-size: 14px;
}

.projects-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    margin-bottom: 50px;
}

.projects-filter button {
    background: #fff;
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0002;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projects-filter button:hover {
    box-shadow: none;
    border: 1px solid #eee;
    transition: 300ms;
    background: linear-gradient(to right, #ff3300, #e40d2d, #f30438);
    -webkit-background-clip: text;
    background-clip: text;
    color: red;
}

.projects-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 70px;
    /* flex-direction: column; */
}

.projects-card {
    width: 300px;
    min-width: 300px;
    /* height: 300px; */
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #00000034;
    overflow: hidden;
    padding: 15px 20px;
    cursor: pointer;
    text-decoration: none;
}

.projects-card:hover {
    /* border: 1px solid #ff00003a; */
    transition: 300ms;
    box-shadow: none;
    border: 1px solid #eee;

}

.projects-card:hover i {
    background: linear-gradient(to right, #ff3300c6, #e40d2db5, #f30438ba);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 300ms;
}

.projects-card:hover img {
    transform: scale(1.02);
}





.projects-card h3 {
    color: #444;
    font-weight: 500;
    width: 60%;
}

.projects-card p {
    color: #666;
    font-size: 15px;
    height: 80px;
}

.projects-card I {

    color: #666;
}

.card-techs {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.card-image {
    overflow: hidden;
    width: 100%;
    height: 150px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.card-image img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: 350ms;
}



#contact {
    background: #eee;
    padding: 70px 0 160px;
}


#form-contact {
    margin: 0 auto;
    width: 450px;
    display: flex;
    flex-direction: column;
}

#form-contact label {
    color: #888;
    font-size: 14px;
}

#form-contact input {
    outline: none;
    padding: 3px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-size: 17px;
    margin: 0 0 10px;
    color: #333;
    
}

#form-contact #name {
    text-transform: capitalize;
}

#form-contact input:focus {
    border-bottom: 1px solid #f3043873;
    transition: 300ms;
}

#form-contact textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 3px 5px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    /* border-radius: 10px; */
    font-size: 17px;
    color: #333;
    background: transparent;
}

#form-contact textarea:focus {
    border-color: #f3043873;
    background: #f5f5f5;
    transition: 300ms;
}

#form-contact button {
    font-size: 18px;
    align-self: center;
    width: 30%;
    color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.133) 3px 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: 300ms;
}

#form-contact button:hover {
    background: #fdfdfd;
    color: #333;
}

#form-contact button::selection {
background: red;
}




/* FOOTER */

footer {
    background: #151515;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10% 0;
    color: #ddd;
    gap: 40px;
    row-gap: 15px;
    justify-content: space-around;
}

footer div h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

footer div p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #999;
}

footer div p b {
    color: #ddd;
}

.footer-portfolio {
    width: 400px;
}

.footer-portfolio h2 {
    margin-bottom: 10px;
}

.footer-portfolio p {
    margin-bottom: 15px;
    font-size: 13px;
}

.footer-social {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;

}

.footer-social a {
    text-decoration: none;
    color: #ddd;
    font-size: 25px;
}

.footer-contactme {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-contactme input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    padding: 0 5px 5px;
    outline: none;
    color: #ddd;
    width: 100%;

}

.footer-contactme button {
    width: 70px;
    height: 30px;
    background: transparent;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
    color: #ddd;
    cursor: pointer;
    font-weight: bold;
}

.footer-contactme button:hover {

    transition: 350ms;
    background: #ddd;
    color: #333;
    letter-spacing: 1px;
}

.footer-me {
    border-top: 1px solid #333;
    min-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.footer-links a {
    display: block;
    margin: 0 0 10px;
    text-decoration: none;
    color: #999;
}



/* RESPONSIVIDADE */

@media screen and (max-width: 1023px) {
    .home {
        width: 95%;
    }

    .about {
        padding: 70px 5%;
        grid-template-columns: 1fr;
    }

    .my-image {
        width: 340px;
        height: 290px;
    }

    .image {
        width: 320px;
        height: 270px;
    }

    .projects {
        width: 95%;
    }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 791px) {
    .footer-portfolio {
        text-align: center;
    }

    .footer-social {
        margin: 0 auto;
        width: fit-content;
    }
}




/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    header {
        width: 100%;
    }

    .menu {
        gap: 0;
    }

    .logo {
        font-size: 20px;
    }

    .home {
        display: flex;
        flex-direction: column;
    }

    .home-image {
        padding: 0 0 50px;
    }

    .apresentation-content {
        width: 90%;
    }

    .apresentation-content button {
        margin-bottom: 60px;
    }

    .my-image {
        width: 340px;
        height: 290px;
    }

    .image {
        width: 320px;
        height: 270px;
    }

    .tech-list {
        gap: 10px;
    }

    .projects-list {
        overflow-x: auto;
        gap: 30px;
        justify-content: flex-start;
        padding: 10px;
        flex-wrap: nowrap;
    }

    .projects-filter {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    #form-contact {
        margin: 0 auto;
        width: 90%;

    }
    
}