* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #eee, #ccc);
    width: 100%;
    height: 100vh;
}

header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #ffffff92;
    z-index: 20;
}

.logo {
    background: linear-gradient(to right, #ff3300, #FF0000);
    background-clip: text;
    -webkit-background-clip: text;
    /* Para navegadores Webkit (Chrome, Safari) */
    color: transparent;
    /* Tornar o texto transparente */
    font-weight: 600;
    font-size: 23px;
}

.menu {
    display: flex;
    gap: 50px;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: #303030;
    font-weight: 500;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.menu a:hover {
    transition: 250ms;
    letter-spacing: 2px;
    background: linear-gradient(to right, #ff3300, #FF0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: ;
}



/* SECTIONS */

.home {
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid #aaa; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 115px;
    padding: 80px 0;
    border-bottom: 1px solid #bbb;
}

.home-data-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ccc; */
    padding: 20px 0;
}

.home-data-left-text {
    width: 70%;
}

.home-data-left-text h2 {
    font-weight: normal;
    font-size: 35px;
    color: #333;
}

.home-data-left-text h1 {
    font-size: 55px;
    color: #222;
}

.home-data-left-text h3 {
    font-size: 25px;
    font-weight: normal;
    background: linear-gradient(to right, #ff3300, #FF0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.home-data-left-text p {
    color: #333;
    margin-bottom: 20px;
}


.home-data-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.home-data-right-image {
    margin: 0 auto;
    width: 350px;
    height: 300px;
    border-radius: 60px 20px 60px 40px;
    overflow: hidden;
    box-shadow: 4px 4px 10px #999;
    position: relative;
}

.home-data-right-image-container {
    position: relative;
}

.home-data-right-image-container::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 300px;
    border: 1px solid #ff3300;
    border-radius: 60px 20px 60px 40px;
    left: -40px;
    top: 105px;
    z-index: -1;
}

.home-data-right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-data-right-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.home-data-right-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #999;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #ff3300, #FF0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}


.home-data-right-social a:hover {
    transition: 250ms;
    border: 1px solid #bbb;

    opacity: 0.7;
}

.home-tech {
    grid-column: span 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;

}

.home-tech-title {
    color: #222;
    font-weight: 500;
    font-size: 18px;
    /* letter-spacing: 1px; */
}

.home-tech-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;

}


.home-tech-list-card {
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid #ff00003a; */
    /* border-radius: 10px; */
    padding: 10px;
    color: #222;
    position: relative;
}

.home-tech-list-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-top: 1px solid #ff00003a;
    transition: 350ms;
}

.home-tech-list-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 1px solid #ff00003a;
    transition: 350ms;
}

.home-tech-list-card:hover::after,
.home-tech-list-card:hover::before {
    width: 100%;

}

.home-tech-list-card:hover {
    color: #666;
}



.home-tech-list-card i {
    font-size: 25px;
}



.projects {
    margin: 0 auto;
    padding: 70px 0 120px;
    /* border-bottom: 1px solid #bbb; */
    width: 80%;
}

.projects-title,
.about-title {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    margin-bottom: 60px;
}

.projects-title h1,
.about-title h1 {
    font-weight: 500;
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
}

.projects-title p,
.about-title p {
    color: #444;
}

.projects-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 30px;
    /* flex-direction: column; */
}

.projects-list-card {
    width: 350px;
    height: 300px;
    border: 1px solid transparent;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.projects-list-card:hover {
    border: 2px solid #ff00003a;
    transition: 250ms;
}

.projects-list-card-image {
    overflow: hidden;
    width: 100%;
    height: 70%;
}


.projects-list-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-list-card-legends {
    padding: 10px;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    background: #d2d2d2;
}

.projects-list-card-legends h3 {
    color: #333;
    font-weight: 500;
    width: 60%;
}

.projects-list-card-legends-techs {
    width: 40%;
    display: flex;
    /* align-items: ce; */
    justify-content: flex-end;
    gap: 10px;
    color: #333;
}

.projects-list-card-legends p {
    color: #666;
    font-size: 14px;
}

.projects-list-card-deep {
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, #22222279, #d2d2d2);
    position: absolute;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 0 30px;
    opacity: 0;
    z-index: -1;
    transition: 450ms;
}

.projects-list-card-deep a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 10px;
    width: 110px;
}

.projects-list-card-deep a i {
    font-size: 30px;
}

.projects-list-card:hover .projects-list-card-deep {
    z-index: 1;
    opacity: 1;
}

.projects-list-card-deep a:hover {
    transition: 250ms;
    transform: scale(1.1);

}

.about {
    margin: 0 auto;
    width: 100%;
    height: 800px;
    padding: 70px 0;
}

.about-back {
    width: 100%;
    height: 500px;
    opacity: 0.5;
    background: url('https://wallpapers.com/images/hd/programming-on-old-laptop-ig4rijlru38lm3va.jpg');
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100%);
    display: flex;
    position: relative;
}





footer {
    background: #151515;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10% 0;
    color: #ddd;
    gap: 40px;
    row-gap: 40px;
    justify-content: space-around;
}



footer div h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

footer div p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #999;
}

footer div p b {
    color: #ddd;
}

.footer-portfolio {
    width: 400px;
}

.footer-portfolio h2 {
    margin-bottom: 10px;
}

.footer-portfolio p {
    margin-bottom: 15px;
    font-size: 12px;
}



.footer-social {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;

}

.footer-social a {
    text-decoration: none;
    color: #ddd;
font-size: 25px;
}


.footer-contactme {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-contactme input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    padding: 0 5px 5px;
    outline: none;
    color: #ddd;
    width: 100%;

}


.footer-contactme button {
    width: 70px;
    height: 30px;
    background: transparent;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
    color: #ddd;
    cursor: pointer;
    font-weight: bold;
}

.footer-contactme button:hover {

    transition: 350ms;
    background: #ddd;
    color: #333;
    letter-spacing: 1px;
}



.footer-me {
    border-top: 1px solid #333;
    min-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}











@media screen and (max-width: 910px) {
    .projects {
        width: 95%;
    }
}

@media screen and (max-width: 880px) {

    .home {
        display: block;
        width: 95%;
    }

    .home-data-left-text {
        width: 90%;
    }



    .home-tech-list-card {
        height: 50px;
        width: 120px;
    }

    .home-tech-list-card::before {
        width: 100%;
    }

    .home-tech-list-card::after {
        width: 100%;
    }

    .home-data-right {
        gap: 50px;
    }

    .home-data-right-image-container::before {
        left: -45px;
        top: 30px;
    }

}

@media screen and (max-width: 840px) {
    .menu {
        gap: 30px;
    }
}

@media screen and (max-width: 803px) {
    .footer-portfolio {
        text-align: center;
    }



    .footer-social {
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {
    .menu {
        gap: 0;
    }

    .logo {
        font-size: 20px;
    }

    .home-data-right-image-container::before {
        display: none;
    }
}